@page
@model Hweb.Pages.Request.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <!--Stylesheet-->
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #ffff;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%,-50%);
            left: 50%;
            top: 50%;
        }

            .background .shape {
                height: 200px;
                width: 200px;
                position: absolute;
                border-radius: 50%;
            }

        .shape:first-child {
            background: linear-gradient( #1845ad, #23a2f6 );
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient( to right, #ff512f, #f09819 );
            right: -30px;
            bottom: -80px;
        }

        form {
            height: 650px;
            width: 400px;
            background-color: rgba(255,255,255,0.13);
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 50px 35px;
            overflow: scroll;
        }

            form * {
                font-family: 'Poppins',sans-serif;
                color: #080710;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
            }

            form h3 {
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            border-style: solid;
            border-color: dimgrey;
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #080710;
        }

        button {
            margin-top: 50px;
            width: 100%;
            background-color: #5dbea3;
            color: #ffff;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

            .social div {
                background: red;
                width: 150px;
                border-radius: 3px;
                padding: 5px 10px 10px 5px;
                background-color: rgba(255,255,255,0.27);
                color: #080710;
                text-align: center;
            }

                .social div:hover {
                    background-color: rgba(255,255,255,0.47);
                }

            .social .fb {
                margin-left: 25px;
            }

            .social i {
                margin-right: 4px;
            }

    </style>
</head>


<div>
        <h3>Details</h3>
        <div class="control-label">
            <a asp-page="./Edit" asp-route-id="@Model.Requests?.requestID">Edit</a>
        </div>
    <dl class="row">
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Requests.request_department)
        </dt>
        <dd class="control-label">
            @Html.DisplayFor(model => model.Requests.request_department)
        </dd>
        <dt class=control-label>
            @Html.DisplayNameFor(model => model.Requests.time_submitted)
        </dt>
        <dd class="control-label">
            @Html.DisplayFor(model => model.Requests.time_submitted)
        </dd>
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Requests.time_completed)
        </dt>
        <dd class="control-label">
            @Html.DisplayFor(model => model.Requests.time_completed)
        </dd>
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Requests.request_status)
        </dt>
        <dd class="control-label">
            @Html.DisplayFor(model => model.Requests.request_status)
        </dd>
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Requests.request_description)
        </dt>
        <dd class="control-label">
            @Html.DisplayFor(model => model.Requests.request_description)
        </dd>
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.Requests.request_title)
        </dt>
        <dd class="control-label">
            @Html.DisplayFor(model => model.Requests.request_title)
        </dd>
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.completed_Request_Logs)
        </dt>
        <dd class="control-label">
            <ul class="list-unstyled">
        @foreach(var item in Model.completed_Request_Logs)
        {
            <li>@Html.DisplayFor(modelItem => item.time_completed)
                        @Html.DisplayFor(modelItem => item.request_update_description)
                    </li>
        }
        </ul></dd>
    
    </dl>
        <div class="form-group">
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" asp-page="/Request/RequestsList">Back</a>
            }
            else
            {
                <a class="btn btn-primary" asp-page="/Request/MyRequests">Back</a>
            }

            
        </div>
  
</div>
@*<script>
    function back() {
        window.location.href = "/Request/RequestsList"; // Redirect to the Request List
    }
</script>*@
